*{
    box-sizing: border-box;
    font-family:  "Open Sans", sans-serif;
    -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

/* width */
::-webkit-scrollbar {
  width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  background: none; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #097771; 
  opacity: 0.2;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #097771; 
  opacity: 0.5;
}

body{
    margin: 0;
    padding: 0;
}
.contas{
    display: block;
    font-size: 16px;
    color: #fff;
    line-height: 30px !important;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    margin-bottom: 10px;
}

.add-conta{
    display: inline-flex;
    height:30px;
    max-height: 30px;
    float: right;
    cursor: pointer;
    opacity: 0.8;
    color: #fff;
    justify-content: flex-end !important;
    align-items: center;
    font-size: 16px !important;
    background: #ff203b;
    padding-right: 10px;
    padding-left: 5px;
    border-radius:30px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    line-height: 20px !important;
}

.add-conta:hover{
    opacity: 1;
}

.icon-add{
    width: 20px;
    height: 20px;
    float: left;
    margin-right: 5px;
    position: relative;
}
.icon-add svg{
    width: 100%;
    height: 100%;
}



.btn-logout{
    width: 50px;
    height: 30px;
    float: right;
    position: relative;
    z-index: 10000000000;
    cursor: pointer;
    opacity: 0.8;
    text-align: right;
    color: #fff;
    font-weight: bold;
}
.btn-logout:hover{
    opacity: 1;
}
.select_sair{
    margin-top: 20px !important;
}

.tubesub-info{
    width: 100%;
    display: table;
    margin-bottom: 30px;
    
    padding-top: 20px
    color: #fff;
    margin-top: 0px;
    border-radius: 10px;
    padding: 10px;
    background: #ff203b;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
.tubesub-logo{
     display: flex;
     width: 70px;
     height: 70px;
     background: #fff;
     border-radius: 10px;
     float: left;
     justify-content: center;
    align-items: center;
     background-image: url(../icones/tubesub.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;

}
.tubesub-logo svg{
    color: #07C443;
    width: 30px;
    height: 30px;
}
.info{
    display: block;
    font-size: 20px;
    line-height: 24px !important;
    float: left;
    width: calc(100% - 150px);
    overflow: hidden;
    max-height: 70px !important;
    color: #fff;

    padding-left: 10px;
}
.zap-name-conta .nome-user{
    font-size: 17px !important;
}
.status-expiration{
    font-size:12px !important;
}
.status-account{
    font-size:12px !important;
    line-height: 20px !important;
}
.box-scroll{
    display: block;
    width: 100%;
    height: calc(100% - 170px);
    overflow-y: auto;
   
  
    
}
.zap-box-button{
    width: 100%;
    display: table;
    margin-bottom: 30px;
    padding-bottom: 20px;
    padding-top: 0px;
    height: calc(100% - 400px);
    overflow-y: auto;
    transition: 0.2s;
}
.btn-dash{
    margin-top: 20px;
}
.menu{
    width: 100%;
    height: calc(100%);
    position: fixed;
    top: 0;
    left: 0;
    padding: 10px;
    background: #222;
    z-index: 10000000000000;
    
}

.btn_active::after{
    content: '';
    position: absolute;
    width: 10px;
    height: 30px;
    background: #202c33;
    right: -5px;
    margin-top: -15px;
    border-radius: 10px;
    transition: 0.2s;

}

.menu button:hover{
     background:rgba(171, 38, 54, 0.3);
}
.newName_active{
    width: calc(100% - 150px) !important;
}

.type-account{
    width: 20px;
    height: 20px;
    left: 0px;
    position: relative;
    z-index: 20;
    border-radius: 30px;
    float: left;
    margin-right: -20px;
    margin-top: -5px;
/*    background-color: #fff;*/
/*background-image: url(../icones/youtube.wep) !important;*/
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;]
    margin-bottom: -20px;

}
/*.zap-photo{
    background-color: #fafafa;
    background-image: url(public/icones/perfil.png);
}*/
#app{
    top: 0;
    height: 100vh !important;
    width: calc(100% - 260px) !important;
    padding-left: 260px;

}
.two{
      width: calc(100%) !important;
/*      background: red;*/
      margin: 0px !important;
      top: 0px !important;
      height: calc(100%) !important;
      max-width: none !important;
}
.two ._3RGKj{
    max-width: 400px !important;
}
.btn-remove{
    width: 30px;
    height: 40px;
    float: right;
    margin-left: 10px;
    position: relative;
    top: 0px;
    background-image: url(../icones/menu.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    background-position: center center;
    background-size: 20px 20px;
    opacity: 0.5;

}
.btn-remove:hover{
    opacity: 1;
    background-image: url(../icones/menu-hover.png);
}
.select{
    background: #fff;
    width: 200px;
    padding: 10px;
    border-radius: 10px;
    float: right;
    position: absolute;
    right: 50px;
    z-index: 100000000000;
    margin-top: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    color: #333 ;
    display: none;

}
.option{
    line-height: 30px !important;
    opacity: 0.6;
    cursor: pointer;
}
.option:hover{
    opacity: 1;
}
.icon-option{
    width: 25px;
    height: 25px;
   
    float: left;
    margin-right: 10px;
    color: #ff203b;
    padding: 2px;
}
.icon-option svg{
    width: 100%;
    height: 100%;
}
.icon{
    width: 40px;
    height: 40px;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    float: left;
    margin-right: 10px;
    border-radius: 50px;
    background: #fafafa;
    background-size: contain;
    position: relative;
    z-index: 10;
    float: left;
}

.menu button {
    width: 100%;
    border-radius: 5px;
    padding: 10px;
    background:none;
    border:  none;
    margin-bottom: 5px;
/*    line-height: 40px !important;*/
    text-align: left;
    color: #fff;
    cursor: pointer;
    outline: none !important;
    max-height: 65px;

}
.btn_active{
    transition: 0.2s;
    background:rgba(171, 38, 54, 0.4) !important;
/*    border-radius: 40px 10px 10px 40px !important;*/

}


.zap-name{
    margin-top: 5px;
    display: block;
    max-height: 20px !important;
    width: calc(100% - 150px);
    font-size: 15px;
    overflow: hidden;
   
}

.zap-status{
    max-height: 12px !important;
    display: block;
    float: left;
    width: calc(100% - 150px);
    color: #ff9393;
    font-size: 12px;
    overflow: hidden;
}

.count-msg{
    float: right;
    border-radius: 40px;
    color: #fff;
    height: 23px;
    width: 23px;
    position: relative;
    line-height: 18px !important;
    font-size: 12px !important;
    text-align: center;
    top: 10px;
    display: none;
/*    color: #07C443;*/
}
.count-msg-noty{
    float: right;
    border-radius: 40px;
    color: #fff;
    height: 20px;
    width: 20px;
    position: relative;
    line-height: 18px !important;
    font-size: 12px !important;
    text-align: center;
    top: 11px;
    display: none;
    color: #07C443;
    background: #ff203b;
    color: #fff;
    text-align: center;
    margin-right: 10px;
    padding: 1px;
    padding-right: 2px;
}
.count-msg svg{
    width: 100%;
    height: 100%;
}
.logo{
    display: block;
    width: 100%;
    height: 100px;
    background-image: url(../icones/logo.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 70% 70%;
    margin-bottom: 20px;
    padding: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}
.btn-boxx{
    display: block;
    width: 100%;
    margin-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
}
.btn-dashboard{
    display: block;
    height: 30px;
    max-height: 30px;
    cursor: pointer;
    opacity: 0.8;
    color: #fff;
    
    font-size: 16px !important;
    background: #00B611;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 50px;
    line-height: 30px !important;
}

.btn-dashboard:hover{
    opacity: 1;
}
/*.btn-dashboard .icon-add{
    position: relative;
    height: 30px;
}*/
.icon-session{
    width: 15px;
    height: 23px;
    float: left;
    background-size: 12px;
    background-repeat: no-repeat;
    background-position: center center;
    margin-right: 5px;
}
.icon-time{
    background-image: url(../icones/time.png);
}
.icon-status{
    background-image: url(../icones/lock.png);
}